





{% extends 'bootstrap/base.html' %}

<html>

{% block html %}
  {% block head %}
    {% block title %}
      <title>delete</title>
    {% endblock %}

    {% block styles %}
      {{ super() }}
      <!--<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">-->
      <link type="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css">
    {% endblock %}
  {% endblock %}




<body >
  {% block body %}
    {% block navbar %}


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <script>
      var messages = {{ messages | safe }};
      for (var i=0; i<messages.length; i++) {
        alert(messages[i]);
      }
    </script>
  {% endif %}
{% endwith %}


      <nav class="navbar navbar-fixed-top">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="#">DELETION</a>
              </div>
              <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
              </ul>
          </div>
      </nav>
    {% endblock %}

    {% block content %}
        <center>
            <div class="jumbotron">
                <h1>delete</h1>
            </div>
        </center>

        <div style="max-width:50%" class="container">
            <div class="list-group">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title"><b>Delete here</b></h3>
                    </div>
                    <div class="panel-body">
                        <form action="" method="POST">
                            <!-- First name, Last name, Birthday, and Gender -->
                                <div class="form-row">
				     <!-- <div class="form-group col-md-4">-->
                                        <label for="inputEmail4">PATIENTS SSN ID</label>
                                     
                                    <input type="text" id="ss" value="{{p}}" name="patient_ssnid" class="form-control"  placeholder="PATIENTS SSN ID" >
				<br>
			    <center>
                                    <button class="btn btn-primary" type="submit"  method="GET" name="action" value="GET DETAILS" onclick="button1()">GET DETAILS</button>
                                </center>
                                   <!-- </div>-->
				    <br>
                                    <!-- <div class="form-group col-md-4">-->
                                        <label for="inputEmail4">First Name</label>
                                    <input type="text" id="n" value="{{a}}" name="first_name"  class="form-control" placeholder="First name" >
                                   <!-- </div>-->
				    <br>

                                     
                                     <!-- <div class="form-group col-md-4">-->
                                        <label>Age</label>
                                        <input class="form-control" value="{{b}}" name="age" id="birth_date" type="number" min="1" max="99" placeholder="Age" >
                                    <!-- </div>-->
				    <br>
				     <!-- <div class="form-group col-md-4">-->
                                        <label for="date">DATE OF ADMISSION</label>
                                    <input type="text" value="{{c}}" name="admdate" class="form-control" placeholder="adm date" >
                                    <!-- </div>-->
				    <br>
				    <!-- <div class="form-group col-md-4">-->
                                        <label for="bedtype">TYPE OF BED</label>
  				   <select name="bedtype" class="form-control" placeholder="TYPE OF BED" value="{{e}}" >
    				<option value="gen">General Ward</option>
    <option value="semi">Semi sharing</option>
    <option value="single">Single room</option>
  </select>
	<br>                             
				     <!-- <div class="form-group col-md-4">-->
                                        <label for="date">ADDRESS</label>
                                    <input type="text" value="{{d}}" name="address" class="form-control" placeholder="ADDRESS" >
                                    <!-- </div>-->
				    <br>
				     
				   <input type="hidden" name="country" id="countryId" value="IN"/>
				   <select name="state" class="states order-alpha" id="stateId">
    				   <option value="">Select State</option>
				   </select>
				   <br>
				   <select name="city" class="cities order-alpha" id="cityId">
    				   <option value="">Select City</option>
				   </select>
				   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
				   <script src="//geodata.solutions/includes/statecity.js"></script>

                                </div>
                           <!--   Email 
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="inputEmail4">Email</label>
                                        <input type="email" name="patient_email"class="form-control" id="inputEmail4" placeholder="janedoe123@email.com" required>
                                    </div>
                                </div>-->
                                <center>
                                    <button type="submit" name="action" value="DELETE" class="btn btn-primary">DELETE</button>
                                </center>
                            </form>
                    </div>
                </div>
            </div>
        </div>

    {% endblock %}
</body>
{% block scripts %}
    {{ super() }}
{% endblock %}

  {% endblock %}
{% endblock %}
</html>
