<html>
<head>
    <title>Home Page</title>
	 <link rel = "icon" href ="static/images/logo.png" type = "image/x-icon"> 
	<!--<link rel="stylesheet" type="text/css" href="static/css/style-main.css">-->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<style>
div {
  /*background-color: rgba(255,255,255,0.6);*//*#80ced6;   */
  margin-top: 150px;
  margin-bottom: 150px;
}

h1{
 background-color: #92a8d1;
}
body  {
  background-image:url('static/images/background1.jpg') ;
  }

</style>
<!-- Login Section Starts-->
	<center>
	<h1>WELCOME TO THE DESK...HAVE A GREAT DAY!!</h1>
	<div class="row bg-grey" id="login" style="  background-color: rgba(255,255,255,0.6);" >
    <div class="col-md-4" >
	<br><br><br>
	<i class="fa fa-user-md text-blue" style="font-size:100px;color:#3278fa"></i>
     			<h5>PHARMACIST</h5>
				<p><a href="login">Click Here</a></p>
				<br><br>
	</div>
	
	<div class="col-md-4">
	<br><br><br>
	<i class="fa fa-user-circle-o text-blue" style="font-size:100px;color:#3278fa"></i>
     			<h5>Patients</h5>
				<p><a href="patients" >Enable Options</a></p>
				<br><br>
	</div>
	
	<div class="col-md-4">
	<br><br><br>
	<i class="fa fa-user-secret text-blue" style="font-size:100px;color:#3278fa"></i>
     			<h5>DIAGNOSTICS</h5>
     			<p><a href="login">Click Here</a></p>
				<br><br>
	</div>

	
     </center>

</body>
</html>
